@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-container a {
  margin-right: 16px;
  margin-top: 19px;
}

.headline {
  display: flex;
  flex-direction: column;
}

.info-container > h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 100%;
  color: #1a2236;
  margin-bottom: 22px;
}

.info-container > div > p {
  color: #1a2236;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  font-family: "Poppins", sans-serif;
}

.info-container > button {
  font-family: "poppins", sans-serif;
  width: 100%;
  height: 52px;
  font-size: 18px;
  font-weight: 500px;
  border-style: solid;
  border-width: 1px;
  border-color: #1a2236;
  background-color: transparent;
}

.info-container > button:hover {
  background-color: #1a2236;
  color: #fff;
}

.material-icons {
  font-size: 26px;
  color: #1a2236;
}

.info-container {
  margin: 30px 16px 17px 16px;
}

@media (min-width: 768px) {
  .info-container > h1 {
    font-family: "Playfair Display", serif;
    font-size: 110px;
  }

  .headline {
    display: flex;
    flex-direction: row;
  }

  .info-container {
    width: 40vw;
  }
  #mobile-image-section-one {
    display: none;
  }
}
