@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.project-bottom-section > a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 55vw;
  padding: 3.1vw;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 24px;
  color: #1a2236;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: #fff;
  transition-property: all;
  transition-duration: 500ms;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

.header-container > a {
  margin-right: 1.1vw;
  margin-top: 1.3vw;
}

.headline {
  display: flex;
  flex-direction: column;
}

.primary-button {
  font-family: 'poppins', sans-serif;
  font-size: 18px;
  font-weight: 500px;
  border-style: solid;
  border-width: 1px;
  border-color: #1a2236;
  background-color: transparent;
  padding: 0.8vw 1.2vw;
  text-decoration: none;
  text-align: center;
  color: #1a2236;
  align-self: center;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.material-icons {
  font-size: 26px;
  color: #1a2236;
}

.info-container {
  margin: 30px 16px 17px 16px;
  display: flex;
  flex-direction: column;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title-text {
  font-family: 'Playfair Display', serif;
  font-size: 13.3vw;
  font-weight: 400;
  line-height: 100%;
  color: #1a2236;
  margin-bottom: 22px;
  animation-name: anims;
  animation-duration: 1s;
}

@keyframes anims {
  from {
    color: #dddfe6;
  }

  to {
    color: #1a2236;
  }
}

.project-container > img {
  margin: 0;
  padding: 0;
}

.work-section > h2 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  text-align: left;
  margin-top: 42px;
  margin-bottom: 32px;
  margin-left: 16px;
  color: #1a2236;
  z-index: -10;
}

.work-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr 1fr 1fr 1fr 1fr;
  align-content: center;
}

.project-bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #1a2236;
  padding: 6.25vw;
  margin: 0;
}

.project-bottom-section > h3 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 6.25vw;
  line-height: 80%;
  color: #fff;
  margin-top: 0;
}

.contact-form-info-container > p {
  margin: 0;
}

.input-and-text-container > label,
#message-label-id {
  margin: 8px 0 0 0;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #7d7c84;
}

.skills-title-list,
.framework-title-list,
.about-lang-title-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15vw;
  padding-left: 9vw;
}

.skills-title-list > p,
.framework-title-list > p,
.about-lang-title-list > p {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  align-self: flex-start;
  padding: 0;
  margin: 0 0 20px 20px;
}

#descriptive-text,
.descriptive-text {
  color: #1a2236;
  font-size: 4.3vw;
  line-height: normal;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: 'Poppins', sans-serif;
}

.languages-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.languages-container > li {
  list-style: none;
  background-color: #98dede;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 80%;
  color: #1a2236;
  padding: 6px 10px;
}

#ruby-text {
  margin-right: 10px;
  margin-left: 10px;
}

.project-bottom-section > a > i {
  font-size: 20px;
  color: #1a2236;
}

.menu > li > a {
  font-family: 'poppins', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 4vw;
  line-height: 1.6vw;
  color: #000;
}

.menu > li {
  list-style: none;
  align-content: center;
  margin: 15px 0;
}

.project-bottom-section > a:hover {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  color: #fff;
}

.project-bottom-section > a:hover i {
  color: #fff;
}

.project-bottom-section > a:active {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  color: #fff;
}

.primary-button:hover {
  background-color: #1a2236;
  color: #fff;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 16px;
}

#about-text {
  margin-top: 17.5vw;
  margin-bottom: 6.25vw;
}

#get-cv-btn {
  font-family: 'poppins', sans-serif;
  width: 100%;
  height: 52px;
  font-size: 18px;
  font-weight: 500px;
  color: #1a2236;
  border-style: solid;
  border-width: 1px;
  border-color: #1a2236;
  background-color: #fff;
  text-decoration: none;
  margin-top: 32;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#get-cv-btn:hover {
  background-color: #1a2236;
  color: #fff;
}

#get-cv-btn > span {
  color: #1a2236;
  font-size: 30px;
}

#get-cv-btn:hover span {
  color: #fff;
}

.popup-lang-box > li {
  list-style: none;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 80%;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  border-color: #1a2236;
  color: #1a2236;
  padding: 7px 7px;
}

.skills-title-list > ul > li,
.framework-title-list > ul > li,
.about-lang-title-list > ul > li {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5.6vw;
  line-height: 8.43vw;
  margin: 0;
  padding: 0;
  color: #fff;
}

.framework-container > img {
  width: 31.9vw;
  height: 31.9vw;
  position: relative;
  left: 59vw;
  bottom: 20vw;
}

.skills-container > img {
  position: relative;
  width: 31.9vw;
  height: 31.9vw;
  left: 59vw;
  bottom: 20vw;
}

.about-languages-container > img {
  position: relative;
  width: 31.9vw;
  height: 31.9vw;
  left: 58.5vw;
  bottom: 13.5vw;
}

.about-languages-container {
  background-color: #1c528a;
  margin-bottom: 5vw;
  padding: 0;
  width: 90.3vw;
  height: 90.3vw;
}

.skills-container {
  background-color: #febf52;
  margin-bottom: 5vw;
  width: 90.3vw;
  height: 90.3vw;
}

.framework-container {
  margin-bottom: 5vw;
  width: 90.3vw;
  height: 90.3vw;
  background-color: #e2505c;
}

.footer-section {
  height: 110px;
  background-color: #1a2236;
  padding: 32px 16px 40px;
}

.get-resume-btn {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #92dcdc;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
  margin-bottom: 30px;
}

.get-resume-btn > img {
  margin-left: 10px;
}

.popup > img {
  width: 100vw;
}

.close-btn-bg-img > img {
  width: 280px;
}

.popup-main-box > img {
  padding: 0;
  margin: 5.6vw 6.25vw 0 6.25vw;
}

.close-btn {
  background-color: transparent;
  border-style: none;
  outline: none;
  align-self: flex-start;
  margin: 3vw;
}

.live-btn > img,
.source-btn > img {
  margin: 0 0 0 16.6vw;
}

.bottom-image > img {
  width: 25%;
}

.popup-main-box > a > img {
  width: 6.8vw;
  height: 6.8;
  margin-left: 16.6vw;
}

.footer-social-links > li > a > img {
  width: 6.7vw;
  height: 6.7vw;
}

#proj-one > img,
#proj-two > img,
#proj-three > img,
#proj-four > img,
#proj-five > img,
#proj-six > img {
  height: 58vw;
  width: 100%;
}

.footer-social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

a > #icon-footer {
  color: #fff;
  font-size: 24px;
}

.get-resume-text > div {
  margin-right: 16px;
}

.contact-form-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 16px;
}

.contact-form {
  margin: 32px 0 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-form > textarea {
  text-align: left;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 16px;
  height: 112px;
  color: #1a2236;
  margin: 8px 0 20px 0;
  border-color: #dfdfe0;
  outline: none;
}

.input-and-text-container {
  background-color: #fff;
  margin-top: 8px;
  padding: 4px 16px 8px 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #dfdfe0;
}

.input-and-text-container > input {
  margin-top: 4px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #1a2236;
  border-style: none;
  outline: none;
  width: 100%;
}

.contact-section {
  display: flex;
  flex-direction: column;
  background-color: #f9f9fa;
  margin-top: 0;
}

#error-msg {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #1a2236;
}

.geometry-image-one {
  width: 111px;
  margin-top: -px;
}

.popup {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100vw;
  height: 100%;
  padding-bottom: 10px;
  z-index: 2;
}

.inner-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20vw;
}

.inner-container > ul {
  align-self: center;
  padding: 0;
}

#close-pop {
  align-self: flex-start;
  margin: 3vw 3vw 0 0;
  background-color: transparent;
  outline: none;
  border-style: none;
}

/* .close-btn {
  background: transparent;
  border: none;
  outline: none;
  align-self: flex-start;
  margin: 24px 20px 0 0;
} */

.hidden {
  display: none;
}

.visible {
  display: block;
}

.close-btn-bg-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.major-box {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(85px);
  background-color: #1a2236;
  display: flex;
  z-index: 2;
}

.popup-main-box {
  background: rgba(255, 255, 255);
  margin: 0 auto;
  padding: 0;
  width: 95%;
  max-height: 80%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 1px solid lightgrey;
}

.popup-main-box > button.popup-close-btn {
  background-color: transparent;
  border-style: none;
  font-size: 4vw;
  outline: none;
  align-self: flex-end;
  margin: 5.6vw 5.6vw 0 0;
  position: sticky;
  top: 5.6vw;
}

.popup-proj-title {
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  font-size: 6.25vw;
  line-height: 16px;
  margin: 3vw 0 3vw 4vw;
  color: #1a2236;
}

.popup-lang-box {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0 0 0 5.6vw;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #fff;
}

.popup-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4vw;
  line-height: 21px;
  color: #1a2236;
  margin: 9vw 5.6vw 0 5.6vw;
}

.live-source-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.source-btn {
  width: 75vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 5.6vw 6.2vw 5.6vw;
  padding: 3.7vw 4.7vw 3.7vw 0;
  align-self: center;
  border-style: solid;
  border-width: 1px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5.6vw;
  text-decoration: none;
  line-height: 27px;
  color: #1a2236;
}

.source-btn:hover {
  background-color: #1a2236;
  color: #fff;
}

.live-btn {
  width: 75vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 9vw 5.6vw 6.2vw 5.6vw;
  padding: 3.7vw 4.7vw 3.7vw 0;
  align-self: center;
  border-style: solid;
  border-width: 1px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5.6vw;
  text-decoration: none;
  line-height: 27px;
  color: #1a2236;
}

.live-btn:hover {
  background-color: #1a2236;
  color: #fff;
}

.bottom-image {
  display: flex;
  justify-content: flex-start;
  margin: 0 6.2vw;
  padding: 0;
}

@media (max-width: 767px) {
  .desktop-navigation {
    display: none;
  }

  #desktop-image,
  #message-label-id {
    display: none;
  }

  #dot-matrix-work-section,
  #geometry-image-three,
  #geometry-image-two,
  .geometry-images-four-five,
  #geometry-image-six,
  #geometry-image-seven {
    display: none;
  }

  #dot-matrix,
  #dot-matrix-teal {
    display: none;
  }

  .next-prev-btns {
    display: none;
  }
}

@media (max-width: 371px) {
  .about-languages-container > img {
    position: relative;
    bottom: 16.1vw;
    left: 58.5vw;
    width: 31.9vw;
    height: 31.9vw;
  }

  .framework-container > img {
    position: relative;
    bottom: 24.6vw;
    left: 58.4vw;
    width: 31.9vw;
    height: 31.9vw;
  }

  .skills-container > img {
    position: relative;
    bottom: 24.1vw;
    left: 58.5vw;
    width: 31.9vw;
    height: 31.9vw;
  }
}

@media (min-width: 768px) {
  .desktop-navigation > ul {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
  }

  .desktop-navigation {
    width: 100%;
    height: 6.9vw;
    box-shadow: 0 0.1vw #dddfe6;
    display: flex;
    justify-content: space-between;
    padding: 0 32% 0 0;
  }

  .languages-container {
    margin-bottom: 5vw;
  }

  .languages-container > li {
    font-size: 1.4vw;
    padding: 1vw 1.2vw;
  }

  .header-container > a,
  .header-container > img {
    display: none;
  }

  .logo {
    align-self: center;
    height: 5vw;
    width: 5vw;
    padding-left: 10%;
  }

  .desktop-navigation > ul > li > a {
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 1.6vw;
    color: #1a2236;
  }

  .info-container > h1 {
    font-family: 'Playfair Display', serif;
    font-size: 110px;
  }

  .info-container > a.primary-button {
    width: 60%;
    font-size: 1.8vw;
  }

  .menu > li {
    list-style: none;
    align-content: center;
    margin: 15px 0;
  }

  .popup-lang-box > li {
    list-style: none;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    border-color: #1a2236;
    color: #1a2236;
    padding: 10px 22px;
  }

  .desktop-navigation > ul > li {
    list-style: none;
    margin: 0 1.7vw;
  }

  .skills-title-list > ul > li,
  .framework-title-list > ul > li,
  .about-lang-title-list > ul > li {
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 1.9vw;
    letter-spacing: -5.25%;
  }

  .desktop-navigation > ul > li:hover {
    border-bottom-style: solid;
    border-bottom-width: 0.13vw;
    border-bottom-color: #1a2236;
  }

  .headline {
    display: grid;
    grid-template-columns: 1fr 1fr 12.5vw 1fr 1fr 1fr;
    grid-template-rows: 53vw 12.5vw;
  }

  .info-container {
    width: 33.6vw;
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
    margin: 0 0 0 6vw;
    padding: 0;
  }

  #dot-matrix {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 100%;
  }

  #desktop-image {
    grid-column: 4/7;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
  }

  #mobile-image-section-one {
    display: none;
  }

  h1.title-text {
    font-family: 'Playfair Display', serif;
    font-size: 7.6vw;
    font-weight: 400;
    line-height: 100%;
    color: #1a2236;
    margin-bottom: 22px;
  }

  #descriptive-text {
    font-size: 1.3vw;
    line-height: 1.4;
  }

  .primary-button {
    width: 45%;
    align-self: flex-start;
  }

  .info-container > button.primary-button {
    width: 17.6vw;
    font-size: 1.25vw;
  }

  .project-bottom-section > h3 {
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 4.3vw;
  }

  .work-section {
    display: grid;
    grid-template-columns: 11.1fr 11.1fr 11.1fr 11.1fr 11.1fr 11.1fr 11.1fr 11.1fr 11.1fr;
    grid-template-rows: 11.1vw 11.1vw 11.1vw 5.55vw 11.1vw 5.55vw 5.55vw 11.1vw 11.1vw 8vw 11.1vw 11.1vw;
    margin-top: 14.5vw;
    width: 100%;
  }

  .work-section > h2 {
    grid-column: 1/3;
    grid-row: 1/4;
    transform: rotate(-90deg);
    align-self: center;
    font-size: 7.64vw;
  }

  #dot-matrix-work-section {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 11vw;
  }

  .about-languages-container > img {
    position: relative;
    bottom: 1.2vw;
    left: 12.9vw;
    width: 7.1vw;
    height: 7.1vw;
  }

  .framework-container > img {
    position: relative;
    bottom: 3.1vw;
    left: 12.9vw;
    width: 7.1vw;
    height: 7.1vw;
  }

  .skills-container > img {
    position: relative;
    bottom: 3.1vw;
    left: 12.9vw;
    width: 7.1vw;
    height: 7.1vw;
  }

  .live-btn > img,
  .source-btn > img {
    margin: 0 0 0 0;
    transition: filter 0.3s;
  }

  #proj-one {
    grid-column: 4/10;
    grid-row: 1/5;
  }

  .get-resume-btn > img {
    width: 1.7vw;
    height: 1.7vw;
  }

  .prev-btn > img,
  .next-btn > img {
    width: 3vw;
  }

  .popup-main-box > img {
    padding: 0;
    margin: 1vw 2.5vw 0 2.5vw;
  }

  .popup-header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background: white;
    justify-content: space-between;
  }

  .popup-proj-title {
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-size: 4vw;
    line-height: 16px;
    margin: 2.2vw 0 2.2vw 2.2vw;
    color: #1a2236;
  }

  .popup-lang-box {
    margin: 0 0 0 2.5vw;
  }

  button.popup-close-btn {
    align-self: center;
    margin: 0 2.5vw 0 0;
    font-size: 25px;
    background-color: transparent;
    outline: none;
    border-style: none;
  }

  .live-source-box a img {
    transition: filter 0.3s;
  }

  .footer-social-links > li > a > img {
    width: 1.7vw;
    height: 1.7vw;
  }

  .live-source-box a:hover img {
    filter: brightness(0) invert(1);
  }

  #proj-one > img {
    height: 40.4vw;
    width: 66.6vw;
  }

  #geometry-image-two {
    grid-column: 4/7;
    grid-row: 5/8;
    height: 22.2vw;
    width: 33.3vw;
  }

  #proj-two {
    grid-column: 1/4;
    grid-row: 5/8;
    height: 18.75vw;
    align-self: flex-end;
  }

  #proj-two > img {
    height: 18.75vw;
  }

  #proj-four {
    grid-column: 6/9;
    grid-row: 11/13;
  }

  #proj-four > img {
    height: 18.75vw;
    width: 33.3;
  }

  #proj-five {
    grid-column: 7/9;
    grid-row: 7/9;
  }

  #proj-five > img {
    height: 16.8vw;
    width: 33.3vw;
    margin: 0;
    padding: 0;
  }

  #proj-six {
    grid-column: 7/9;
    grid-row: 5/7;
  }

  #proj-six > img {
    height: 16.8vw;
    width: 33.3vw;

    /* box-shadow:0 0 10px 10px rgba(0, 0, 0, 0.836)  */
  }

  #proj-three {
    grid-column: 1/6;
    grid-row: 8/11;
  }

  #proj-three > img {
    height: 30.2vw;
    width: 100%;
  }

  #geometry-image-three {
    grid-column: 6/10;
    grid-row: 9/11;
    width: 44.4vw;
    height: 19.2vw;
  }

  #geometry-image-four {
    height: 8.6vw;
  }

  .geometry-images-four-five {
    grid-column: 1/6;
    grid-row: 11/12;
    display: flex;
    justify-content: space-between;
  }

  #geometry-image-five {
    width: 6vw;
    height: 6vw;
  }

  #bottom-sec-proj-one {
    position: relative;
    bottom: 33vw;
    height: 24.5vw;
    display: none;
  }

  #bottom-sec-proj-one > a {
    width: 15.5vw;
    padding: 0.8vw 0 0.8vw 1.6vw;
    font-size: 1.5vw;
  }

  #proj-one:hover #bottom-sec-proj-one {
    display: block;
  }

  #bottom-sec-proj-two {
    display: none;
    height: 15.1vw;
    position: relative;
    bottom: 17vw;
    padding: 2vw;
  }

  #bottom-sec-proj-six,
  #bottom-sec-proj-five,
  #bottom-sec-proj-four {
    display: none;
    height: 14.1vw;
    width: 29.3vw;
    position: relative;
    bottom: 17vw;
    padding: 2vw;
  }

  #bottom-sec-proj-three {
    position: relative;
    bottom: 28vw;
    height: 22vw;
    padding: 3vw;
    display: none;
  }

  #bottom-sec-proj-three > a {
    width: 15.5vw;
    padding: 0.8vw 0 0.8vw 1.6vw;
    font-size: 1.4vw;
    margin: 3.8vw 0;
  }

  #bottom-sec-proj-three > h3 {
    font-size: 3.8vw;
    line-height: 3.5vw;
    margin: 0 0 4vw 0;
    width: 100%;
  }

  #proj-two:hover > #bottom-sec-proj-two,
  #proj-six:hover > #bottom-sec-proj-six,
  #proj-five:hover > #bottom-sec-proj-five,
  #proj-four:hover > #bottom-sec-proj-four,
  #proj-three:hover > #bottom-sec-proj-three {
    display: block;
  }

  #bottom-sec-proj-six > .languages-container > li.js,
  #bottom-sec-proj-five > .languages-container > li.js,
  #bottom-sec-proj-four > .languages-container > li.js,
  #bottom-sec-proj-two > .languages-container > li.js {
    font-size: 0;
  }

  #bottom-sec-proj-six > .languages-container > li.js::after,
  #bottom-sec-proj-five > .languages-container > li.js::after,
  #bottom-sec-proj-four > .languages-container > li.js::after,
  #bottom-sec-proj-two > .languages-container > li.js::after {
    content: '+1';
    text-align: center;
    font-size: 1.4vw;
    padding: 0.6vw 0;
  }

  #bottom-sec-proj-six > h3,
  #bottom-sec-proj-five > h3,
  #bottom-sec-proj-four > h3,
  #bottom-sec-proj-two > h3 {
    font-size: 2.7vw;
    line-height: 3.5vw;
    margin: 0 0 1.38vw 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #bottom-sec-proj-six > .languages-container,
  #bottom-sec-proj-five > .languages-container,
  #bottom-sec-proj-four > .languages-container,
  #bottom-sec-proj-three > .languages-container,
  #bottom-sec-proj-two > .languages-container {
    margin-bottom: 0;
  }

  #bottom-sec-proj-six > a,
  #bottom-sec-proj-five > a,
  #bottom-sec-proj-four > a,
  #bottom-sec-proj-two > a {
    width: 14.2vw;
    font-size: 1.25vw;
    margin: 1.38vw 0 0 0;
    padding: 0.6vw 0 0.6vw 0.6vw;
  }

  .about-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 6.6vw;
    margin: 15vw 11.1vw 11.1vw 0;
  }

  .about-info-container > #about-text {
    font-size: 7.6vw;
    margin: 0;
  }

  #about-info-box-id {
    width: 31vw;
    margin-left: 1.9vw 0 0 6.7vw;
  }

  .descriptive-text {
    font-size: 1.2vw;
    font-style: normal;
    font-family: 'poppins', sans-serif;
  }

  #get-cv-btn {
    width: 17.6vw;
    height: 4.8vw;
    font-size: 1.25vw;
    padding: 0;
  }

  #get-cv-btn > span {
    font-size: 3vw;
  }

  .skills-set-container {
    display: grid;
    grid-template-columns: 20vw 4.6vw 15.4vw;
    grid-template-rows: 20vw 5.2vw 14.8vw;
  }

  .about-languages-container {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 20vw;
    height: 20vw;
  }

  .framework-container {
    grid-column: 2/4;
    grid-row: 1/2;
    width: 20vw;
    height: 20vw;
  }

  .skills-container {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 20vw;
    height: 20vw;
  }

  #dot-matrix-teal {
    grid-column: 3/4;
    grid-row: 3/4;
    width: 15.4vw;
  }

  .framework-title-list {
    padding: 0;
    margin: 3vw 0 0 3vw;
  }

  .skills-title-list {
    padding: 0;
    margin: 3vw 0 0 3vw;
  }

  .about-lang-title-list {
    padding: 0;
    margin: 3vw 0 0 3vw;
  }

  .skills-title-list > p,
  .framework-title-list > p,
  .about-lang-title-list > p {
    font-size: 1.4vw;
    line-height: 2vw;
    margin: 0 0 1.5vw 0;
  }

  .skills-title-list > ul,
  .framework-title-list > ul,
  .about-lang-title-list > ul {
    margin: 0;
    padding: 0 0 0 1.6vw;
  }

  .contact-section {
    margin-top: 11vw;
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-template-rows: 25vw 25vw 25vw;
  }

  .geometry-image-one {
    display: none;
  }

  #geometry-image-six {
    width: 18.3vw;
    height: 24.3vw;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .contact-form-info-container {
    grid-column: 2/4;
    grid-row: 1/4;
    margin-right: 6.6vw;
    margin-top: 11.6vw;
  }

  .contact-form-info-container > .title-text {
    font-size: 7.6vw;
    margin-top: 0;
  }

  #contact-description,
  #about-info-box-id > p.descriptive-text {
    list-style: 1.5vw;
    color: #1a2236;
    font-size: 1.2vw;
    line-height: normal;
    letter-spacing: -0.01rem;
    font-family: 'Poppins', sans-serif;
  }

  .name-email-text-label-box {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 38vw;
  }

  #email-label-input-id,
  #name-label-input-id {
    border-style: none;
    background-color: transparent;
    width: 15vw;
    margin: 0;
    padding: 0;
  }

  #name-label-input-id > label,
  #email-label-input-id > label {
    font-size: 1vw;
    padding: 0;
    margin: 0;
  }

  #message-label-id {
    margin-top: 1.4vw;
    font-size: 1vw;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #message {
    height: 9.7vw;
    font-size: 1.25vw;
    margin-top: 0;
    padding: 1.25vw 1.35vw;
  }

  #email,
  #name {
    font-size: 1.2vw;
    width: inherit;
    padding: 1.25vw 1.4vw;
    border-style: solid;
    border-width: 1px;
    border-color: #252c40;
    border-radius: 2px;
  }

  .contact-form > button {
    width: 17.6vw;
    font-size: 1.25vw;
    align-self: center;
  }

  #geometry-image-seven {
    width: 24.3vw;
    height: 24.3vw;
    grid-column: 4/5;
    grid-row: 3/4;
    align-self: flex-end;
  }

  .footer-section {
    height: 8.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a2236;
    padding: 0;
  }

  .get-resume-btn {
    margin: 0 0 0 11vw;
    font-size: 1.3vw;
  }

  .footer-social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20.5vw;
    margin: 0 11vw 0 0;
  }

  a > #icon-footer {
    font-size: 1.7vw;
  }

  /* Begining of Desktop Popup */

  .major-box {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1a2236f2;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    z-index: 2;
  }

  .popup-main-box {
    width: 80%;
    max-height: 85%;
    overflow: scroll;
    overflow-x: hidden;
  }

  .bottom-image {
    display: flex;
    justify-content: flex-start;
    margin: 0 6.2vw;
    padding: 0;
  }

  .popup-description {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 1.3;
    color: #1a2236;
    margin: 5vw 5vw 0 5vw;
    text-align: justify;
  }

  .live-btn {
    width: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1.4vw;
    align-self: center;
    border-style: solid;
    border-width: 1px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vw;
    text-decoration: none;
    line-height: 27px;
    color: #1a2236;
  }

  .source-btn {
    width: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1.4vw;
    align-self: center;
    border-style: solid;
    border-width: 1px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vw;
    text-decoration: none;
    line-height: 27px;
    color: #1a2236;
  }

  .next-prev-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5vw 5vw 5vw;
  }

  .next-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    text-decoration: none;
    line-height: 27px;
    color: #1a2236;
    gap: 1vw;
    border: solid 2px #1a2236;
    padding: 0.5vw 1.2vw 0.5vw 0.5vw;
    border-top-right-radius: 50px;
  }

  .prev-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    text-decoration: none;
    line-height: 27px;
    color: #1a2236;
    gap: 2vw;
    border: solid 2px #1a2236;
    padding: 0.5vw 0.5vw 0.5vw 1.2vw;
    border-top-left-radius: 50px;
  }

  .live-source-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4vw;
    align-items: center;
    margin: 5vw;
  }

  .next-btn:hover,
  .prev-btn:hover {
    background-color: #1a2236;
    color: #fff;
  }
}
